
.DS_Store
Swift/functionSwift.playground/contents.xcplayground
Swift/lezione1.playground/contents.xcplayground
Swift/lezione3.playground/playground.xcworkspace/contents.xcworkspacedata
Swift/lezione3.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Swift/lezione3.playground/playground.xcworkspace/xcuserdata/andrea-claro.xcuserdatad/UserInterfaceState.xcuserstate
