<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023810828706-9kq4dbul30aeagnu7ogt1njmut6e33jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023810828706-9kq4dbul30aeagnu7ogt1njmut6e33jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAfZOs__kcZNd5qpL4G534P2WtPo7ELURg</string>
	<key>GCM_SENDER_ID</key>
	<string>1023810828706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>claro-me.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat---appbrewery-362cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat---appbrewery-362cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023810828706:ios:5c64aaab0fd68ca77bdafb</string>
</dict>
</plist>